In [121]:
import pandas as pd
import numpy as np
import os
loc = 'C:\\Users\\user\\Documents\\Capstone Project\\BYOP\\BYOP\\'
os.chdir(loc)
dataset = pd.read_csv("ConsumerElectronics.csv")

In [122]:
dataset.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3

In [123]:

dataset.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3

In [124]:
len(dataset[dataset.duplicated(['order_id','order_item_id'])])

140114

In [125]:
dataset = dataset.loc[(dataset.order_date >= '2015-07-01')]
dataset = dataset.loc[(dataset.order_date < '2016-07-01')]

In [126]:
dataset['order_date'] = dataset['order_date'].astype('str')
dataset['order_date'] = dataset['order_date'].str[:10]

dataset['order_date']=pd.to_datetime(dataset['order_date'])

dataset.dtypes

fsn_id                                     object
order_date                         datetime64[ns]
Year                                        int64
Month                                       int64
order_id                                  float64
order_item_id                             float64
gmv                                        object
units                                       int64
deliverybdays                              object
deliverycdays                              object
s1_fact.order_payment_type                 object
sla                                         int64
cust_id                                    object
pincode                                    object
product_analytic_super_category            object
product_analytic_category                  object
product_analytic_sub_category              object
product_analytic_vertical                  object
product_mrp                                 int64
product_procurement_sla                     int64
dtype: object

In [136]:
uniq_date = dataset.order_date.unique()

uniq_date = pd.DataFrame(uniq_date)
uniq_date.set_axis(['dates'], axis=1, inplace=True)


uniq_date

uniq_date['dates'].astype(str)
uniq_date

uniq_date['dates'] = uniq_date['dates'].str[:10]


uniq_date = uniq_date.unique()

         dates
0   2015-10-17
1   2015-10-19
2   2015-10-20
3   2015-10-14
4   2015-10-16
..         ...
356 2015-08-28
357 2015-08-24
358 2015-08-26
359 2015-08-15
360 2015-08-16

[361 rows x 1 columns]

In [137]:
week_map = pd.read_csv("week_map.csv")
week_map['dates']=pd.to_datetime(week_map['dates'])
week_map = week_map.rename(columns={"dates": "order_date"})
week_map.head()
week_map.dtypes

order_date    datetime64[ns]
week                   int64
dtype: object

In [138]:
dataset = dataset.merge(week_map, how  = "left", on=["order_date"])

In [139]:
dataset.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,...,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla,week
0,ACCCX3S58G7B5F6P,2015-10-17,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,...,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0,16
1,ACCCX3S58G7B5F6P,2015-10-19,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,...,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0,17
2,ACCCX3S5AHMF55FV,2015-10-20,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,...,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3,17
3,ACCCX3S5AHMF55FV,2015-10-14,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,...,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3,16
4,ACCCX3S5AHMF55FV,2015-10-17,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,...,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3,16

In [192]:
investment = pd.read_csv("Media Investment.csv")

In [193]:
investment.head()

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015,7,17.1,0.2,2.5,7.4,0.0,1.3,0.5,5.0,NaN,NaN
1,2015,8,5.1,0.0,1.3,1.1,0.0,0.1,0.1,2.5,NaN,NaN
2,2015,9,96.3,3.9,1.4,62.8,0.6,16.4,5.0,6.2,NaN,NaN
3,2015,10,170.2,6.1,12.6,84.7,3.4,24.4,7.0,31.9,NaN,NaN
4,2015,11,51.2,4.2,1.3,14.2,0.2,19.6,6.6,5.2,NaN,NaN

In [194]:
investment.replace(np.nan,0,inplace = True)
investment.head()

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015,7,17.1,0.2,2.5,7.4,0.0,1.3,0.5,5.0,0.0,0.0
1,2015,8,5.1,0.0,1.3,1.1,0.0,0.1,0.1,2.5,0.0,0.0
2,2015,9,96.3,3.9,1.4,62.8,0.6,16.4,5.0,6.2,0.0,0.0
3,2015,10,170.2,6.1,12.6,84.7,3.4,24.4,7.0,31.9,0.0,0.0
4,2015,11,51.2,4.2,1.3,14.2,0.2,19.6,6.6,5.2,0.0,0.0

In [195]:
investment['Date'] = pd.to_datetime(investment[['Year', 'Month']].assign(DAY=1))
investment.set_index('Date', inplace = True)
investment.dtypes

Year                   int64
Month                  int64
Total Investment     float64
TV                   float64
Digital              float64
Sponsorship          float64
Content Marketing    float64
Online marketing     float64
 Affiliates          float64
SEM                  float64
Radio                float64
Other                float64
dtype: object

In [196]:
nos_week = [['7', 4], ['8', 5], ['9', 4], ['10', 4], ['11', 5], ['12', 4], ['1', 4], ['2', 5], ['3', 4], ['4', 4], ['5', 5], ['6', 4]]

In [197]:
number_weeks = pd.DataFrame(nos_week, columns = ['Month', 'week_nos'])
number_weeks['Month'] = number_weeks['Month'].astype('int')

In [198]:
number_weeks.dtypes

Month       int32
week_nos    int64
dtype: object

In [199]:
investment = investment.merge(number_weeks, how  = "left", on=["Month"])

In [200]:
investment.head(12)

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other,week_nos
0,2015,7,17.1,0.2,2.5,7.4,0.0,1.3,0.5,5.0,0.0,0.0,4
1,2015,8,5.1,0.0,1.3,1.1,0.0,0.1,0.1,2.5,0.0,0.0,5
2,2015,9,96.3,3.9,1.4,62.8,0.6,16.4,5.0,6.2,0.0,0.0,4
3,2015,10,170.2,6.1,12.6,84.7,3.4,24.4,7.0,31.9,0.0,0.0,4
4,2015,11,51.2,4.2,1.3,14.2,0.2,19.6,6.6,5.2,0.0,0.0,5
5,2015,12,106.7,5.4,3.1,56.7,1.1,22.5,6.8,11.2,0.0,0.0,4
6,2016,1,74.2,4.4,0.5,4.2,0.9,22.9,7.4,4.2,2.7,27.1,4
7,2016,2,48.1,2.6,1.9,11.7,0.6,19.9,6.5,4.9,0.0,0.0,5
8,2016,3,100.0,9.3,2.1,41.6,0.4,18.4,6.2,5.2,0.9,15.9,4
9,2016,4,56.8,5.2,0.9,24.3,0.0,16.5,5.7,4.2,0.0,0.0,4
10,2016,5,78.1,1.4,0.8,31.7,0.8,23.7,6.8,6.9,1.1,5.0,5
11,2016,6,42.8,1.7,1.4,25.0,0.0,8.0,2.8,3.7,0.0,0.0,4

In [202]:
investment['week_nos'] = investment['week_nos'].astype('float')
investment.dtypes

Year                   int64
Month                  int64
Total Investment     float64
TV                   float64
Digital              float64
Sponsorship          float64
Content Marketing    float64
Online marketing     float64
 Affiliates          float64
SEM                  float64
Radio                float64
Other                float64
week_nos             float64
dtype: object

In [203]:
investment['Total Investment'] = investment['Total Investment'] / investment['week_nos'] 
investment['TV'] = investment['TV'] / investment['week_nos'] 
investment['Digital'] = investment['TV'] / investment['week_nos'] 
investment['Sponsorship'] = investment['TV'] / investment['week_nos'] 
investment['Content Marketing'] = investment['TV'] / investment['week_nos'] 
investment['Online marketing'] = investment['TV'] / investment['week_nos'] 
investment['Affiliates'] = investment['TV'] / investment['week_nos'] 
investment['SEM'] = investment['TV'] / investment['week_nos'] 
investment['Radio'] = investment['TV'] / investment['week_nos'] 
investment['Other'] = investment['TV'] / investment['week_nos']

In [204]:
investment.head(12)

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other,week_nos,Affiliates
0,2015,7,4.275,0.050,0.01250,0.01250,0.01250,0.01250,0.5,0.01250,0.01250,0.01250,4.0,0.01250
1,2015,8,1.020,0.000,0.00000,0.00000,0.00000,0.00000,0.1,0.00000,0.00000,0.00000,5.0,0.00000
2,2015,9,24.075,0.975,0.24375,0.24375,0.24375,0.24375,5.0,0.24375,0.24375,0.24375,4.0,0.24375
3,2015,10,42.550,1.525,0.38125,0.38125,0.38125,0.38125,7.0,0.38125,0.38125,0.38125,4.0,0.38125
4,2015,11,10.240,0.840,0.16800,0.16800,0.16800,0.16800,6.6,0.16800,0.16800,0.16800,5.0,0.16800
5,2015,12,26.675,1.350,0.33750,0.33750,0.33750,0.33750,6.8,0.33750,0.33750,0.33750,4.0,0.33750
6,2016,1,18.550,1.100,0.27500,0.27500,0.27500,0.27500,7.4,0.27500,0.27500,0.27500,4.0,0.27500
7,2016,2,9.620,0.520,0.10400,0.10400,0.10400,0.10400,6.5,0.10400,0.10400,0.10400,5.0,0.10400
8,2016,3,25.000,2.325,0.58125,0.58125,0.58125,0.58125,6.2,0.58125,0.58125,0.58125,4.0,0.58125
9,2016,4,14.200,1.300,0.32500,0.32500,0.32500,0.32500,5.7,0.32500,0.32500,0.32500,4.0,0.32500
10,2016,5,15.620,0.280,0.05600,0.05600,0.05600,0.05600,6.8,0.05600,0.05600,0.05600,5.0,0.05600
11,2016,6,10.700,0.425,0.10625,0.10625,0.10625,0.10625,2.8,0.10625,0.10625,0.10625,4.0,0.10625

In [205]:
dataset_merged = dataset.merge(investment, how = "left", on= ["Month"])

In [206]:
dataset_merged

,fsn_id,order_date,Year_x,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,...,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other,week_nos,Affiliates
0,ACCCX3S58G7B5F6P,2015-10-17,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,...,0.38125,0.38125,0.38125,0.38125,7.0,0.38125,0.38125,0.38125,4.0,0.38125
1,ACCCX3S58G7B5F6P,2015-10-19,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,...,0.38125,0.38125,0.38125,0.38125,7.0,0.38125,0.38125,0.38125,4.0,0.38125
2,ACCCX3S5AHMF55FV,2015-10-20,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,...,0.38125,0.38125,0.38125,0.38125,7.0,0.38125,0.38125,0.38125,4.0,0.38125
3,ACCCX3S5AHMF55FV,2015-10-14,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,...,0.38125,0.38125,0.38125,0.38125,7.0,0.38125,0.38125,0.38125,4.0,0.38125
4,ACCCX3S5AHMF55FV,2015-10-17,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,...,0.38125,0.38125,0.38125,0.38125,7.0,0.38125,0.38125,0.38125,4.0,0.38125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648210,VPLEYAP3ZYYUVESU,2015-09-27,2015,9,4.402170e+15,4.402170e+15,2200,1,\N,\N,...,0.24375,0.24375,0.24375,0.24375,5.0,0.24375,0.24375,0.24375,4.0,0.24375
1648211,VPLEYAP3ZYYUVESU,2015-09-28,2015,9,1.402393e+15,1.402393e+15,2098,1,\N,\N,...,0.24375,0.24375,0.24375,0.24375,5.0,0.24375,0.24375,0.24375,4.0,0.24375
1648212,VPLEYAP3ZYYUVESU,2015-09-29,2015,9,4.403460e+15,4.403460e+15,2098,1,\N,\N,...,0.24375,0.24375,0.24375,0.24375,5.0,0.24375,0.24375,0.24375,4.0,0.24375
1648213,VPLEYAP3ZYYUVESU,2015-09-29,2015,9,4.403860e+15,4.403860e+15,2200,1,\N,\N,...,0.24375,0.24375,0.24375,0.24375,5.0,0.24375,0.24375,0.24375,4.0,0.24375
1648214,VPLEYAP3ZYYUVESU,2015-09-29,2015,9,4.403971e+15,4.403971e+15,2295,1,\N,\N,...,0.24375,0.24375,0.24375,0.24375,5.0,0.24375,0.24375,0.24375,4.0,0.24375

In [223]:
#Approach 2
dataset_subset = dataset[['gmv','product_analytic_sub_category','Month']]

In [ ]:
dataset_gmv_groupby = dataset_subset.groupby(['product_analytic_sub_category']).sum()

In [ ]:
dataset_gmv_groupby

In [ ]:
dataset['gmv'].sum()